<div class="last-viewed mt-3">
  <h6>{{'home.last view products'|translate}}</h6>
  <div *ngIf="lastViewedProducts.length > 0; else noProducts">
    <div class="product-container">
      <div *ngFor="let product of lastViewedProducts" class="product-card">
        <img [src]="product.image" alt="{{ getProductName(product)}}" (click)="openProductDetails(product)">
        <h6>{{ getProductName(product) }}</h6>
        
      </div>
    </div>
  </div>
  <ng-template #noProducts>
    <p>No recently viewed products.</p>
  </ng-template>
</div>
