
<div [dir]="isArabic ? 'rtl' : 'ltr'" class="container my-4 text-center" style="width: 80%;">

  <!-- <ng-container  class="text-center" > -->
    <div *ngIf="cartItems.length === 0;"  class="row text-center">
      <div class="text-center">

        <div style="margin-bottom: 15px;">
          <img src="../../../assets/images/empty-cart.05d8cea1.gif" alt="Description of the GIF"
                  style="width: 300px; height: auto;">
        </div>
        <p>
          <span style="font-weight: bold; font-size: 20px;">{{'cart.cart empty message'|translate }}</span>
          <br><span class="empty-cart">{{'cart.welcome message'|translate }}
          <br><span class="text-center">{{'cart.offers'|translate}}</span></span>
        </p>

        <button (click)="navigateToHome()" class="shop-button"
          style="width: 35%; border-radius: 10px; padding: 15px 0; border: 1px solid rgb(191, 190, 190); background-color: white;">
          <span style="font-weight: bold; font-size: 16px;">{{'cart.shop now button'|translate}}</span>
        </button>

      </div>
    </div>
  <!-- </ng-container> -->

  <div class="row" *ngIf="cartItems.length > 0">
    <div class="col-md-8">
      <div class="cart-page">
        <main class="cart-content">

          <header class="cart-header text-start">

            <h3 style="display: inline-block;">Cart</h3>
            <p style="display: inline-block;" class="cartSize">{{ cartItems.length }}</p>
          </header>

          <div class="cart-item" *ngFor="let item of cartItems">
            <img [src]="item.imageUrl" alt="{{ item.name }}" class="item-image" />
            <div class="item-details col-md-9 text-start">
              <p class="item-name">{{ item.productName }}</p>
              <!-- <p class="item-price">{{ item.quantity }}</p> -->
              <h3 class="item-price" style="font-weight: bold;">EGP {{ item.productPrice }}</h3>
            </div>

            <div class="col-md-3 text-end" >
              <div class="changeQuantity">
                <select [(ngModel)]="item.quantity" (change)="updateQuantity(item.id, item.quantity)">
                  <option *ngFor="let number of numbers" [value]="number">{{ number }}</option>
                </select>
              </div>
              <div>
                <a (click)="openRemoveModal(confirmRemoveModal, item.id)" style="color: rgb(0, 115, 255);">
                  <i class="fa-regular fa-trash-can"></i>
                  Remove
                </a>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
    <div class="col-md-4">
      <div class="text-center smallCart">
        <div class="row" style="margin-top: 15px;">
          <div class="col-md-6 text-start">Quanity:</div>
          <div class="col-md-6 text-end">{{Quantity}} items</div>
        </div>
        <div class="row" style="margin-bottom: 15px; font-size: 20px;">
          <div style="font-weight: bold;" class="col-md-6 text-start">Subtotal:</div>
          <div style="font-weight: bold;" class="col-md-6 text-end">{{ totalCost.toFixed(2) }} EGP</div>
        </div>
        <button (click)="goToCheckout()"  class="checkout-btn">Checkout</button>
      </div>

      <div class="text-center smallCart2" style="margin-top: 20px;">
        <div class="row">
          <div class="col-md-2">
            <p style="font-size: 20px;"><i class="fa-solid fa-wallet"></i></p>
          </div>
          <div class="col-md-10 text-start">
            <p style="font-weight: bold;">Pay on delivery</p>
            <p>For all orders</p>
            <hr>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2">
            <p style="font-size: 20px;"><i class="fa-solid fa-rotate"></i></p>
          </div>
          <div class="col-md-10 text-start">
            <p style="font-weight: bold;">Return policy</p>
            <p>Most items can be returned withing 30 days of delivery</p>
            <hr>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2">
            <p style="font-size: 20px;"><i class="fa-regular fa-circle-question"></i></p>
          </div>
          <div class="col-md-10 text-start">
            <p style="font-weight: bold;">Have a question?</p>
            <p style="color: rgb(0, 115, 255);">19966</p>
          </div>
        </div>

      </div>
    </div>
  </div>


</div>

<!-- Remove Confirmation Modal -->
<ng-template #confirmRemoveModal let-modal>
  <div class="modal-body" style="font-weight: bold;">
    Remove Product from cart?
  </div>
  <div class="modal-footer text-center">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel')">Don't Remove</button>
    <button type="button" class="btn btn-outline-danger" (click)="modal.close('Remove')">Remove</button>
  </div>
</ng-template>

<!-- pop-up modal for go to cart if the user not logged in -->
<ng-template #logFirstModal let-modal>
  <div class="modal-header justify-content-center" style="font-weight: bold; background-color: rgb(244, 220, 175)">
    <h5 class="modal-title text-center">
      {{ "alert.login prompt" | translate }}
    </h5>
  </div>
  <div class="modal-footer text-center">
    <button type="button" class="btn btn-warning" (click)="modal.close('Remove')">
      {{ "alert.continue exploring" | translate }}
    </button>
    <button type="button" class="btn btn-dark" (click)="modal.close('cancel')">
      {{ "alert.go to login" | translate }}
    </button>
  </div>
</ng-template>
