<nav class="navbar">
  <div class="navbar-content">
    <div class="language">
      <a href="#" class="language-link">عربي</a>
    </div>
    <div class="logo">
      <img src="https://btech.com/media/logo/stores/1/new3.png" alt="B.TECH Logo" class="logo-image" />
    </div>
  </div>
</nav>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="circle-container">
      <div class="circle">
        <img
          src="https://cdn.pixabay.com/animation/2022/08/06/11/56/11-56-56-209_512.gif"
          alt="Hi Animation"
          class="animated-image mb-4"
        />
      </div>
    </div>
      <br />
      <h3 class="text-center">Let's get started!</h3>

      <p class="text-center">
        Use your mobile number to sign in or sign up.
      </p>

      <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="mobileNumber">Mobile Number</label>
          <input
            type="text"
            class="form-control"
            id="mobileNumber"
            formControlName="mobileNumber"
            placeholder="Enter your mobile number"
            required
          />
          <div
            class="invalid-feedback"
            *ngIf="signInForm.get('mobileNumber')?.invalid && signInForm.get('mobileNumber')?.touched"
          >
            Please enter a valid mobile number
          </div>
        </div>
        <br />
        <button
          type="submit"
          class="btn btn-primary btn-block mt-4"
          [disabled]="!signInForm.valid"
        >
          Continue..
        </button>
      </form>

      <div class="text-center mt-3">
        <span> | </span>
        <a routerLink="/create-account">Create an Account</a>
      </div>
    </div>
  </div>
  <div class="height">

  </div>


</div>


