<div class="card m-3 p-3 shadow-sm container py-5">
  <h4>{{'home.why B.TECH'|translate}}</h4>
  <div class="d-flex mt-3 justify-content-around categories-container ">
    <div (click)="productPage()">
      <img src="https://btech.com/media/homecontent/exclusive/b/f/bf24_generic_bottom_banners__12_en.png" alt="">
    </div>
    <div (click)="productPage()">
      <img src="https://btech.com/media/homecontent/exclusive/b/f/bf24_generic_bottom_banners__11_en.png" alt="">
    </div>
    <div (click)="productPage()">
      <img src="https://btech.com/media/homecontent/exclusive/b/f/bf24_generic_bottom_banners__3_en.png" alt="">
    </div>
    <div (click)="productPage()">
      <img src="https://btech.com/media/homecontent/exclusive/b/f/bf24_generic_bottom_banners__10_en.png" alt="">
    </div>
  </div>
</div>
