<div class="top-offers mt-5">
  <div class="top-offers-header">
    <h2>{{'home.top offers'|translate}}</h2>
    <button class="shop-now-btn">{{'home.shop now'|translate}}</button>
  </div>

  <div class="product-carousel" >
    <button class="scroll-button left" (click)="scrollCarousel(-1)">&#10094;</button>
    <div class="product-container" #productContainer>
      <div *ngFor="let product of expensiveProducts" class="product-card " (click)="openProductDetails(product)">
        <img *ngIf="product.images.length  && product.images.length > 0"
            [src]="product.images[0].url"
            [alt]="product.translations[isArabic ? 1 : 0]?.name ">
        <h5 *ngIf="product.translations">
          {{ product.translations[isArabic ? 1 : 0]?.name }}
        </h5>
        <p class="price">
          {{ "product.price" | translate }}:
          {{ getFormattedPrice(product.price) }}
        </p>
        <p class="monthly-pay">
          {{ 'home.monthly pay' | translate: { amount: getMonthlyPayment(product) | currency } }}
        </p>
    </div>

    </div>
    <button class="scroll-button right" (click)="scrollCarousel(1)">&#10095;</button>
  </div>
</div>
