<div class="top-offers">
  <div class="top-offers-header">
    <h2>Top Offers</h2>
    <button class="shop-now-btn">Shop now</button>
  </div>
  
  <div class="product-carousel">
    <button class="scroll-button left" (click)="scrollCarousel(-1)">&#10094;</button>
    <div class="product-container" #productContainer>
      <div *ngFor="let product of expensiveProducts" class="product-card"> 
        <img *ngIf="product.images && product.images.length > 0" 
            [src]="product.images[0].url" 
            [alt]="product.translations ">
            
        <h4 *ngIf="product.translations">
            {{ product.translations[0].name }}
        </h4>
        <h6 class="price">{{ product.price }}EGP</h6>
        <p class="monthly-pay">or from {{ getMonthlyPayment(product) | currency }}/mo</p>
    </div>
    
    </div>
    <button class="scroll-button right" (click)="scrollCarousel(1)">&#10095;</button>
  </div>
</div>

