
  
  .smallCart{
    padding: 20px;
    padding-top: 10px;
    border-radius: 5px; /* Optional: rounded corners */
    box-shadow: 0 0 0 2px rgba(224, 230, 237, 0.5); /* Thin border-like shadow */
    background-color: white;
  }
  .cart-page {
    
    padding: 20px;
    font-family: Arial, sans-serif;
    /* border: 1px solid #c2bcbcbc; */

    border-radius: 5px; /* Optional: rounded corners */
    box-shadow: 0 0 0 2px rgba(224, 230, 237, 0.5); /* Thin border-like shadow */
    background-color: white;
    margin: 20px; margin-top: 0px; height: auto; align-self: flex-start;
   
  }

  .checkout-btn {
    background-color: #000;
    color: #fff;
    padding: 10px;
    width: 100%;
    border: none;
    cursor: pointer;
  }
  
  .cart-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .cart-items, .cart-summary {
    width: 48%;
  }

  .hint{
    color: rgb(234, 153, 1); 
    background-color: rgb(255, 244, 225); 
    border-radius: 5px; 
    padding: 10px; 
    font-size: 12px;
    margin-bottom: 55px;
  }
  .section-number{
    border: 2px black solid; 
    padding: 1px 8px; 
    border-radius: 50%; 
    display: inline-block; 
  }
  .section-parts{
    background-color: white;
  }
  .section-number-disable{
    border: 2px gray solid; 
    padding: 1px 8px; 
    border-radius: 50%; 
    display: inline-block; 
  }

 

  /* /////////////////////////////////// */

  #promo{
    padding: 5px;
    border-color: gainsboro;
    border-radius: 10px;
  }

  #promoButton{
    padding: 10px 15px;
  }
  #promoButton:disabled, .orderButton:disabled{
    background-color: gainsboro;
    color: grey;
    border-color: gainsboro;
  }

  .selected-label{
    font-weight: bold;
    font-size: 20px;
  }


  .cityButton{
    width: 100%;
    border: 1px solid rgb(213, 210, 210);
    background-color: white;
    border-radius: 10px;
  }
  .cityButton:hover{
    width: 100%;
    border: 1px solid rgb(15, 14, 14);
    background-color: white;
    border-radius: 10px;
  }

  
 