<div class="card m-3 shadow-sm">
    <h4 class="card-title m-3">B.TECH Promo Codes</h4>
<div class=" d-flex justify-content-evenly mt-3 mb-3 p-3">
    <div class="card text-center shadow" style="width: 25rem; ">
    <div class="card-body">
        <img src="../../../../assets/headphones.png" >
      <h5 class="card-title">Use Code "ACC10"</h5>
      <p class="card-text">Up to <span style="color: red;">10%</span> off</p>
    </div>
  </div>

  <div class=" card text-center shadow" style="width: 25rem; ">
    <div class="card-body">
        <img src="../../../../assets/laptops.png" >
      <h5 class="card-title">Laptops</h5>
      <p class="card-text">Up to <span style="color: red;">50%</span> off</p>
    </div>
  </div>

  <div class="card text-center shadow" style="width: 25rem; ">
    <div class="card-body">
        <img src="../../../../assets/blenders.png" >
      <h5 class="card-title">Blenders</h5>
      <p class="card-text">Up to <span style="color: red;">50%</span> off</p>
    </div>
  </div>
</div>
</div>
