
<div class="card" (click)="openProductDetails(data)">
  <img [src]="(data.product?.images && data.product.images.length > 0) ? data.product.images[0].url : (data.images?.[0]?.url || 'default-image-url.png')" 
       class="card-img-top" 
       [alt]="data.product?.translations?.[0]?.name || data.translations?.[0]?.name || 'Product Image'">
  
  <div class="card-body">
    <h5 class="card-title">{{ data.product?.translations?.[0]?.name || data.translations?.[0]?.name || 'Product Name' }}</h5>
    <p class="card-text">{{ data.product?.price || data.price }} EGP</p>
    
    <button class="btn btn-warning" (click)="add($event)">Add to Cart</button>
  </div>
</div>


<!-- 
<div class="card"(click)="openProductDetails(data)" >
  <img [src]="data.product.images && data.product.images.length > 0 ? data.product.images[0].url : 'default-image-url.png'" 
       class="card-img-top" 
     
       [alt]="data.product.translations?.[0]?.name || 'Product Image'">
  <div class="card-body">
    <h5 class="card-title">{{ data.product.translations?.[0]?.name || 'Product Name' }}</h5>
    <p class="card-text">{{ data.product.price }} EGP</p>
    
    <button class="btn btn-warning" (click)="add()">Add to Cart</button>
  </div>
</div>


 <div class="card" (click)="openProductDetails(data)">
  <img [src]="data.images?.[0]?.url || 'default-image-url.png'" 
       class="card-img-top" 
       [alt]="data.translations?.[0]?.name || 'Product Image'">
  <div class="card-body">
    <h5 class="card-title">{{ data.translations?.[0]?.name || 'Product Name' }}</h5>
    <p class="card-text">{{ data.price }} EGP</p>
    
    <button class="btn btn-warning" (click)="add($event)">Add to Cart</button>
  </div>
</div> -->
