<div class="container my-4 position-relative">
  
    <button class="scroll-button left" (click)="scrollLeft()">&#10094;</button>

    <div class="d-flex align-items-center overflow-hidden" #brandContainer>
      <div *ngFor="let catitem of categories"
       class="brand-item text-center mx-3"
       [class.selected]="catitem.id === selectedCategoryId"
       (click)="selectCategory(catitem.id)">
        <img [src]="catitem.categoryImage" class="brand-icon" [alt]="catitem.categoryName">
        <p class="small-text">{{ catitem.categoryName }}</p>
      </div>
    </div>
    <button class="scroll-button right" (click)="scrollRight()">&#10095;</button>

   
  </div>

